<header>
  <nav class="navbar navbar">
  <div class="container-fluid">

    <div class="navbar-header">
      <a routerLink="/" routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }" class="navbar-brand">
        <div class="SixTitle">
          The Greater 6ix
        </div>
      </a>
    </div>

    <ul class="nav navbar-nav">
      <li><a routerLink="/home" routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }">{{ 'HOME' | translate:param }} <span class="glyphicon glyphicon-home"></span> </a></li>
      <li><a routerLink="/contact" routerLinkActive="active" >{{ 'CONTACT' | translate:param }} <span class="glyphicon glyphicon-earphone" > </span></a></li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li><a routerLink="/sign" routerLinkActive="active" >{{ 'SIGN' | translate:param }} <span class=" glyphicon glyphicon-user"></span></a></li>
    </ul>

  </div>
  </nav>
</header>

<main>

  <router-outlet></router-outlet>

</main>
