<div class="container">
  <div class="row">
    <div class="jumbotron">
      <h2 class="blue" style="color:#2196F3;">Liste des villes </h2>
      <h5 class="blue">Les belles villes du Greater Toronto Area</h5>
    </div>
  </div>
</div>

<div class="container">
  <div  *ngFor="let city of cities" class="panel-info">
    <div class="gallery">
      <!--<a target="_blank" href="img_fjords.jpg">-->
        <img src="{{city.pictureUrl}}" alt="{{city:name}}" width="300" height="200">
      <!--</a>-->
      <div class="desc">{{city.message}}</div>
      <div class="desc">$ {{city.prix}}</div>
    </div>
  </div>
</div>


<!--<h2>{{ 'TITLE' | translate:param }}<hr></h2>-->

<!--<div *ngFor="let city of cities; let i = index" class="panel-info">-->
<!--<div class="panel-heading">-->
<!--<img src="{{city.pictureUrl}}" alt="{{city.city}}">-->
<!--<span>{{city.message}}</span>-->
<!--<span>{{city.prix}}</span>-->
<!--</div>-->
<!--</div>-->
